body {
  background-image: url(./images/brrr.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
}

h1 {
  font-size: 60px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p {
  font-size: 30px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#questions {
  width: 80%;
  height: 80%;
  margin: 10% auto;
}

#backgroundbird {
  background-image: url("./images/bird.jpg");
  background-attachment: fixed;
  background-repeat: repeat-y;
}

#road {
  background-image: url("./images/winterroad.jpg");
  background-attachment: fixed;
  background-repeat: repeat-y;
}

#cat {
  background-image: url("./images/cat.jpg");
  background-attachment: fixed;
  background-repeat: repeat-y;
}

#trail {
  background-image: url("./images/trail.jpg");
  background-repeat: repeat-y;
}

#explanation {
  background-image: url("./images/night.jpeg");
  background-repeat: no-repeat;
  background-repeat: repeat-y;
}

button {
  height: 70px;
  width: 200px;
  background-color: red;
  color: green;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
  margin-left: 35%;
}

#index {
  background-attachment: fixed;
}

#black {
  color: white;
  font-size: 50px;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}
